In [1]:
import pandas as pd
import numpy as np

In [5]:
from IPython.display import display_html
from itertools import chain,cycle
def display_side_by_side(*args,titles=cycle([''])):
    html_str=''
    for df,title in zip(args, chain(titles,cycle(['</br>'])) ):
        html_str+='<th style="text-align:center"><td style="vertical-align:top">'
        html_str+=f'<h2>{title}</h2>'
        html_str+=df.to_html().replace('table','table style="display:inline"')
        html_str+='</td></th>'
    display_html(html_str,raw=True)

## Merge

In [15]:
# Merge

df1= pd.DataFrame({ "HPI":[80,90,70,60],"Int_Rate":[2,1,2,3],"IND_GDP":[50,45,45,67]}, index=[2001, 2002,2003,2004])
df2=pd.DataFrame({ "HPI":[80,90,70,60],"Int_Rate":[2,1,2,3],"IND_GDP":[50,45,45,67]}, index=[2005, 2006,2007,2008])

display_side_by_side(df1,df2, titles=['df1','df2'])

# Merge both DataFrame
merged= pd.merge(df1,df2)

merged

,HPI,Int_Rate,IND_GDP
2001,80,2,50
2002,90,1,45
2003,70,2,45
2004,60,3,67
,HPI,Int_Rate,IND_GDP
2005,80,2,50
2006,90,1,45
2007,70,2,45
2008,60,3,67

   HPI  Int_Rate  IND_GDP
0   80         2       50
1   90         1       45
2   70         2       45
3   60         3       67

In [19]:
merged= pd.merge(df1,df2,on ="HPI")
merged

   HPI  Int_Rate_x  IND_GDP_x  Int_Rate_y  IND_GDP_y
0   80           2         50           2         50
1   90           1         45           1         45
2   70           2         45           2         45
3   60           3         67           3         67

## Join

In [22]:
df1 = pd.DataFrame({"Int_Rate":[2,1,2,3], "IND_GDP":[50,45,45,67]}, index=[2001, 2002,2003,2004])
 
df2 = pd.DataFrame({"Low_Tier_HPI":[50,45,67,34],"Unemployment":[1,3,5,6]}, index=[2001, 2003,2004,2004])

display_side_by_side(df1,df2, titles=['df1','df2'])

joined= df1.join(df2)

joined

,Int_Rate,IND_GDP
2001,2,50
2002,1,45
2003,2,45
2004,3,67
,Low_Tier_HPI,Unemployment
2001,50,1
2003,45,3
2004,67,5
2004,34,6

      Int_Rate  IND_GDP  Low_Tier_HPI  Unemployment
2001         2       50          50.0           1.0
2002         1       45           NaN           NaN
2003         2       45          45.0           3.0
2004         3       67          67.0           5.0
2004         3       67          34.0           6.0

## Concat

In [24]:
df1 = pd.DataFrame({"HPI":[80,90,70,60],"Int_Rate":[2,1,2,3], "IND_GDP":[50,45,45,67]}, index=[2001, 2002,2003,2004])
 
df2 = pd.DataFrame({"HPI":[80,90,70,60],"Int_Rate":[2,1,2,3],"IND_GDP":[50,45,45,67]}, index=[2005, 2006,2007,2008])

display_side_by_side(df1,df2, titles=['df1','df2'])

concat= pd.concat([df1,df2])

concat

,HPI,Int_Rate,IND_GDP
2001,80,2,50
2002,90,1,45
2003,70,2,45
2004,60,3,67
,HPI,Int_Rate,IND_GDP
2005,80,2,50
2006,90,1,45
2007,70,2,45
2008,60,3,67

      HPI  Int_Rate  IND_GDP
2001   80         2       50
2002   90         1       45
2003   70         2       45
2004   60         3       67
2005   80         2       50
2006   90         1       45
2007   70         2       45
2008   60         3       67